In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [15]:
train = pd.read_csv("../data/1_salary_uk_job_ads/Train_rev1.csv")
#valid = pd.read_csv("../data/1_salary_uk_job_ads/Valid_rev1.csv")
#test = pd.read_csv("../data/1_salary_uk_job_ads/Test_rev1.csv")

print(train.shape)
train.head(3)

(244768, 12)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk

In [16]:
train,test = train_test_split(train,test_size = 0.3, random_state = 32)
train,valid = train_test_split(train,test_size = 0.2 / 0.7, random_state = 39)

In [17]:
train.shape,valid.shape,test.shape

((122383, 12), (48954, 12), (73431, 12))

In [18]:
cols = ["ContractTime","Category"]

In [19]:
train_onehot = pd.get_dummies(train[cols])
valid_onehot = pd.get_dummies(valid[cols])
test_onehot = pd.get_dummies(test[cols])

train_onehot["SalaryNormalized"] = train.SalaryNormalized
valid_onehot["SalaryNormalized"] = valid.SalaryNormalized
test_onehot["SalaryNormalized"] = test.SalaryNormalized

In [20]:
# reset indexes
train_onehot = train_onehot.reset_index(drop=True)
valid_onehot = valid_onehot.reset_index(drop=True)
test_onehot = test_onehot.reset_index(drop=True)

In [21]:
train_onehot.columns = [s.replace(" ","_") for s in train_onehot.columns]
valid_onehot.columns = [s.replace(" ","_") for s in valid_onehot.columns]
test_onehot.columns = [s.replace(" ","_") for s in test_onehot.columns]

train_onehot.columns = [s.replace("&","") for s in train_onehot.columns]
valid_onehot.columns = [s.replace("&","") for s in valid_onehot.columns]
test_onehot.columns = [s.replace("&","") for s in test_onehot.columns]

train_onehot.columns = [s.replace("/","_") for s in train_onehot.columns]
valid_onehot.columns = [s.replace("/","_") for s in valid_onehot.columns]
test_onehot.columns = [s.replace("/","_") for s in test_onehot.columns]

train_onehot.columns = [s.replace(",","_") for s in train_onehot.columns]
valid_onehot.columns = [s.replace(",","_") for s in valid_onehot.columns]
test_onehot.columns = [s.replace(",","_") for s in test_onehot.columns]

In [22]:
# check 
valid_onehot = valid_onehot[train_onehot.columns]
test_onehot = test_onehot[train_onehot.columns]

In [23]:
train_onehot.head(2)

,ContractTime_contract,ContractTime_permanent,Category_Accounting__Finance_Jobs,Category_Admin_Jobs,Category_Charity__Voluntary_Jobs,Category_Consultancy_Jobs,Category_Creative__Design_Jobs,Category_Customer_Services_Jobs,Category_Domestic_help__Cleaning_Jobs,Category_Energy__Oil__Gas_Jobs,...,Category_Part_time_Jobs,Category_Property_Jobs,Category_Retail_Jobs,Category_Sales_Jobs,Category_Scientific__QA_Jobs,Category_Social_work_Jobs,Category_Teaching_Jobs,Category_Trade__Construction_Jobs,Category_Travel_Jobs,SalaryNormalized
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7170
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,60000

In [24]:
train_onehot.columns

Index(['ContractTime_contract', 'ContractTime_permanent',
       'Category_Accounting__Finance_Jobs', 'Category_Admin_Jobs',
       'Category_Charity__Voluntary_Jobs', 'Category_Consultancy_Jobs',
       'Category_Creative__Design_Jobs', 'Category_Customer_Services_Jobs',
       'Category_Domestic_help__Cleaning_Jobs',
       'Category_Energy__Oil__Gas_Jobs', 'Category_Engineering_Jobs',
       'Category_Graduate_Jobs', 'Category_HR__Recruitment_Jobs',
       'Category_Healthcare__Nursing_Jobs',
       'Category_Hospitality__Catering_Jobs', 'Category_IT_Jobs',
       'Category_Legal_Jobs', 'Category_Logistics__Warehouse_Jobs',
       'Category_Maintenance_Jobs', 'Category_Manufacturing_Jobs',
       'Category_Other_General_Jobs',
       'Category_PR__Advertising__Marketing_Jobs', 'Category_Part_time_Jobs',
       'Category_Property_Jobs', 'Category_Retail_Jobs', 'Category_Sales_Jobs',
       'Category_Scientific__QA_Jobs', 'Category_Social_work_Jobs',
       'Category_Teaching_Jobs', 'Category_Trade__Construction_Jobs',
       'Category_Travel_Jobs', 'SalaryNormalized'],
      dtype='object')

In [25]:
# store 
path = "../preprocessed_data/1_naive/"
if not os.path.isdir(path):
    os.makedirs(path)

train_onehot.to_pickle(path + "train.p")
valid_onehot.to_pickle(path + "valid.p")
test_onehot.to_pickle(path + "test.p")