In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

In [2]:
data = pd.read_csv("../data/raw/1_salary_uk_job_ads/Train_rev1.csv")
print(data.shape)
data.head(3)

(244768, 12)

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk

In [3]:
cols = ["ContractTime","Category"]

In [4]:
data = data[cols + ["SalaryNormalized"]]

In [5]:
data.head(3)

  ContractTime          Category  SalaryNormalized
0    permanent  Engineering Jobs             25000
1    permanent  Engineering Jobs             30000
2    permanent  Engineering Jobs             30000

In [6]:
data.loc[data.ContractTime.isnull(),"ContractTime"] = "permanent"

In [7]:
data.ContractTime.isnull().sum()

0

In [8]:
# store 
path = "../data/preprocessed/uk/"
if not os.path.isdir(path):
    os.makedirs(path)
data.to_pickle(path + "data.p")